@model GenderViewModel
@{ ViewData["Title"] = "Gender"; }

<div class="row">
    <div class="col-3">
        <div class="card" id="_Form">

        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Genders list</h5>
            </div>
            <div class="card-body">
                <table id="GenderTable" class="table datatable-save-state w-100">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="Name"></label>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script id="GenderAction" type="text/x-jsrender">
        <div class="list-icons">
            <div class="list-icons-item dropdown">
                <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    @* -- Edit -- *@
                    <a onclick="ReadById('{{:id}}')" class="dropdown-item">
                        <i class="icon-pencil7" data-toggle="tooltip" title="Edit"></i>
                        @EText.Edit
                    </a>
                    @* -- Remove -- *@
                    <a data-action="/Gender/Delete" callbackfn="GenderSuccess()" data-params='{"id":"{{:id}}"}' href="#" class="dropdown-item remove-item">
                        <i class="icon-trash" data-toggle="tooltip" title="Remove"></i>
                        @EText.Remove
                    </a>
                </div>
            </div>
        </div>
    </script>
    <script>
        $(document).ready(function () {
            setTimeout(rebindValidation, 500);
            ReadById(0)
        })

        var rebindValidation = function () {
            $('form').each(function (i, f) {
                $form = $(f);
                $form.removeData('validator');
                $form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse($form);
            });

            $('.select-search').select2();
            $('.form-check-input-switch').bootstrapSwitch();
            $('.daterange-single').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                locale: {
                    format: 'MM-DD-YYYY'
                },
                autoclose: true,
                yearPicker: true,
            });

        };

        var $GenderTable
        var GenderAction = $.templates("#GenderAction");
        $GenderTable = $("#GenderTable").DataTable({
                ajax: function (data, callback, settings) {
                    $.ajax({
                        url: "@Url.Action("Read", "Gender")",
                        method: "GET",
                        success: function (response) {
                            callback({ data: response })
                        }
                    })
                },
                pageLength: 10,
                paging: true,
                cache: false,
                lengthChange: false,
                filter: false,
                search: false,
                columns: [
                    { data: "name" },
                    {
                        data: "id",
                        render: function (data, type, row) {
                            return (GenderAction.render({ id: data }));
                        }
                    },
                ],
                language: {
                    info: "<span style='padding-left:2%;'>Page _PAGE_ of _PAGES_</span>",
                    paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' },
                    processing: "",
                    infoEmpty: "",
                    emptyTable: "No data ..."
                }
            });

        function ReadById(id) {
            $.ajax({
                url: "@Url.Action("_Form", "Gender")",
                method: "GET",
                data: { "id": id },
                success: function (data) {
                    $("#_Form").empty();
                    $("#_Form").html(data);
                    rebindValidation()
                }
            });
        };

        var GenderSuccess = function () {
            $GenderTable.ajax.reload();
            ReadById(0)
        };
    </script>


}

